manifest {
  description = 'taxonomically assess sequences in an NGS dataset' 
  
  mainScript = 'main.nf'
  
  author = 'Lauren Kleine'
}

params {
	
	output = "./test" // Output subdirectory
	
	reads = "/home/laurenrk/projects/nexus/data/*_R{1,2}.fastq" // Location of forward and reverse read pairs /*  sed 's/\/1*$/ 1/g' SRR532663_1.fastq */

	btindex = "/home/databases/croc/croc_genome" // Location of bowtie2 index of cow genome

	num_cpu = "12" // num_cpu for running bowtie2

	min_score = "60" // minimum alignment score -a score of 60 corresponds to approximately a perfect match over 30 nt

	db = "/home/databases/nr_nt/nt"

}
