docker {
    enabled = true
    fixOwnership = true
    runOptions = "-v /home/databases/:/home/databases/:ro"
}

process {
    maxForks = 8

    $RunPreFastQC               { container = "laurenkleine/taxonomy:fastqc" }
    $RunCutAdapt                { container = "laurenkleine/taxonomy:cutadapt" }
    $cd_hit_est                 { container = "laurenkleine/taxonomy:cd-hit" }
    $reconcile_reads            { container = "laurenkleine/taxonomy:perl" }
    $RunPostFastQC              { container = "laurenkleine/taxonomy:fastqc" }
    $runBowtie2                 { container = "laurenkleine/taxonomy:bowtie2" }
    $runSPAdes                  { container = "laurenkleine/taxonomy:spades" }
    $contigBowtie               { container = "laurenkleine/taxonomy:bowtie2" } 
    $tallySAMsubjects           { container = "laurenkleine/taxonomy:perl" }
    $compositeSAMfile           { container = "laurenkleine/taxonomy:perl" }
    $BLASTcontigs_vs_nt         { container = "laurenkleine/taxonomy:BLAST" }


}
